/* Googel fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500&family=Playfair+Display:wght@500&display=swap');

/* General Styling */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: noto-sans, sans-serif;
    font-weight: 300;
    color: #395273;
}

/* Remove bullets from all list items in the site */

ul {
    list-style: none;
    padding: 0;
}

/* Styling order list */
ol {
    list-style: inside;
    margin-top: 5px;
    font-family: 'Noto Sans', sans-ser;
    letter-spacing: 1px;
    line-height: 1.5em;
    font-size: .9em;
    font-weight: 500;
    text-align: justify;
}

/* Font family for heading */
h1,
h2,
h3 {
    font-family: 'Playfair Display', serif;
}

/* Paragraphs Styling*/
p {
    font-family: 'Noto Sans', sans-ser;
    letter-spacing: 1px;
    line-height: 1.5em;
    font-size: 0.9em;
    font-weight: 500;
    text-align: justify;
}

/* Styling header, logo and nav */
header {
    display: flex;
    background-color: #bf9b6f;
    margin: 0 auto 0 auto;
    max-height: 170px;
    z-index: 1;
}

/* Rounding logo and give padding*/

#logo {
    max-width: 150px;
    max-height: 150px;
    border-radius: 50% 50% 50% 50%;
    padding: 5%;
}

/* Nav bar */
nav {
    text-align: right;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    padding-right: 5%;
}

nav li {
    display: block;
    /* display linksas a colomn on small screen*/
    height: 100%;
    margin: 0 20px;
    line-height: 40px;
    font-size: 20px;
    cursor: pointer;
    transition: color .5s;
}

nav a {
    text-decoration: none;
    color: inherit;
    font-weight: 700;
}

/* Pointing cursor to nav item */
nav a:hover {
    border-bottom: 1px solid #395273;
    color: #e76e20;
}

/* Active page nav item */
.active {
    border-bottom: 1px solid #395273;

}

/* Hero image */

#hero-image {
    width: 100%;
    height: 100vh;
    background: url('../image/hero-image.webp') no-repeat center center;
    position: relative;
    background-attachment: fixed;
    background-size: cover;


}

/* Cover text */
#cover-text {
    color: #d9c27e;
    width: 70%;
    height: auto;
    padding: 3%;
    background-color: rgba(57, 82, 115, .8);
    top: 50%;
    right: 20%;
    position: absolute;
}

#cover-text p {
    color: #d9c27e;

}

/* Nav Hero image and h1  for small screens */
@media only screen and (min-width: 786px) {
    nav li {
        display: inline-block;
    }

    #hero-image {
        width: 100%;
        height: 100vh;
        background-attachment: fixed;
    }

    #cover-text {
        color: #d9c27e;
        width: 50%;

    }

    #cover-text h1 {
        line-height: 3em;
    }
}

/* Service container styling */

#services-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    clear: both;
}

#services-container div {
    padding: 25px;
    width: 25%;
}

#box-wm {
    width: 25%;
    flex: 1;
    flex-basis: 15%;
}

#box-snc {
    width: 25%;
    flex: 1;
    flex-basis: 15%;
}

#box-ipr {
    width: 25%;
    flex: 1;
    flex-basis: 15%;
}

#box-cf {
    width: 25%;
    flex: 1;
    flex-basis: 15%;
}

#services-heading {
    text-align: center;
    vertical-align: middle;
    padding: 3rem 0 1rem;
}

#services-container h3 {
    text-align: center;
    height: 5%;
    vertical-align: middle;
    font-size: 90%;
    padding-bottom: 1rem;
}

.ser-image {
    width: 100%;
    clear: both;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#services-container>p {
    margin-top: 3rem;
}

/* Styling service area for small screens */
@media screen and (max-width: 786px) {
    #services-container div {

        width: 80%;
        flex: none;
        align-content: center;
    }

    #services-container h3 {
        font-size: 100%;
    }

    .ser-image {
        width: 50%;
        margin-left: 25%;
    }
}


/* About section */
#about-section {
    width: 100%;
    min-height: 100vh;
    background-color: rgba(57, 82, 115, .8);
}

#about-container {
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
}

#abt-content-container {
    float: left;
    width: 55%;
}

#about-image {
    float: right;
    width: 30%;
}

#about-image img {
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#abt-content-container #abt-title>h2 {
    color: #d9c27e;
    line-height: 1.5em;
    padding-bottom: 1rem;
}

#abt-content-container #abt-content>p {
    margin-top: 20px;
    color: #d9c27e;
}

/* Styling about section for small screens */
@media screen and (max-width: 786px) {
    #about-container {
        width: 80%;
        display: block;
        margin: auto;
        padding-top: 50px;
    }

    #abt-content-container {
        float: none;
        width: 100%;
        margin: auto;
    }

    #about-image {
        float: none;
        width: 70%;
        display: block;
        margin: 5% auto auto auto;
    }

    #abt-title>h2 {
        text-align: center;
    }
}


/* Class time section */
#class-time-section {
    width: 100%;
    min-height: 100vh;
    clear: both;

}

#class-time-container {
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;

}

#class-image {
    float: left;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#class-image img {
    width: 100%;
    height: auto;
}

#class-time-contnet {
    float: right;
    width: 55%;
}

#class-time-contnet #class-time-title>h2 {
    line-height: 1.5em;
    padding-bottom: 1rem;
}

#class-time-contnet #class-time-timings>h3 {
    margin-top: 20px;
    text-align: left;
    line-height: 1rem;
    font-size: 1em;
    font-weight: 500;
}

#class-time-contnet #class-time-timings>h3 span {
    font-size: 1.2em;
    font-weight: 650;
    padding-right: 5px;
}

/* Google map */
#google-map {
    padding-top: 5%;
    width: 100%;
    height: auto;
}

/* Class time for small screens */
@media screen and (max-width: 786px) {
    #class-time-container {

        width: 100%;
        display: block;
        margin: auto;
        padding-top: 50px;
    }


    #class-image {
        float: none;
        width: 80%;
        display: block;
        margin: 5% auto auto auto;
    }

    #class-time-contnet {
        float: none;
        width: 100%;
        display: block;
        margin: 5% auto auto auto;
    }

    #class-time-title>h2 {
        text-align: center;
    }

    #class-time-timings>h3 {
        text-align: center;
        margin: 5%
    }

    #google-map {
        width: 80%;
        margin-left: 5%;
        padding-bottom: 5px;
    }
}

/* Footer section */

.footer-section {
    background-color: #bf9b6f;
    display: flex;
    flex-direction: column;
    min-height: 100px;
    padding: 10px;
}

.footer-section li {
    width: 50px;
    height: 50px;
}

.social-networks {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 3%;
}

.social-networks i {
    font-size: 200%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

#copyright {
    display: flex;
    font-size: 0.8rem;
    justify-content: end;
    align-items: center;
    padding-right: 1rem;
    gap: 5px;
}

/* Case-studies page */

#case-section {
    width: 100%;
    overflow: auto;
    clear: both;
}

.case-container {
    width: 80%;
    height: 60vh;
    display: block;
    margin: auto;
    padding-top: 100px;
    clear: both;
}

.case-content-container {
    width: 50%;
}

/* Float class for all the left and right floatings */
.float-left {
    float: left;
}

.float-right {
    float: right;
}

.case-image {
    width: 40%;
    height: auto;
}

.case-image img {
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.case-content-container .case-title>h2 {
    color: #395273;
    line-height: 1.5em;
}

.case-content-container .case-content>p {
    margin-top: 20px;
    color: #395273;
}

.case-content-container .case-content>h3 {
    margin-top: 15px;
    color: #395273;
}

/* Case section for small screens */
@media screen and (max-width: 786px) {
    .case-container {
        width: 80%;
        height: auto;
        display: block;
        margin: auto;
        padding-top: 50px;
    }

    .case-content-container {
        float: none;
        width: 100%;
        display: block;
        margin: auto;
    }

    .case-image {
        float: none;
        width: 80%;
        display: block;
        margin: 5% auto auto auto;
    }

    .case-title>h2 {
        text-align: center;
    }
}

/* Contact section styling */
#contact-section {
    width: 100%;
    height: 100vh;
    clear: both;
}

/* Contact image */
#contact-bg-image {
    background-image: url('../image/contact-background.webp');
    width: 100%;
    height: 100vh;
    background-size: cover;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    position: relative;
}

#contact-container {
    width: 80%;
    top: 25%;
    left: 5%;
    position: absolute;
    z-index: 3;
    background-color: #d9c27e;
    opacity: .9;
    padding: 2%
}

/* Contact details */
#contact-details {
    width: 25%;
    height: auto;
    margin-top: 5%;
}

#my-phone-details,
#my-email {
    width: 90%;
    height: auto;
}

#my-email {
    margin-top: 5%;
}

/* Contact form */
#contact-form-container {
    width: 70%;
    height: auto;
    border-left: 1px solid #395272;
    padding: 2%;
}

#contact-form-container>p {
    padding: 1rem 0;
}

.form-label {
    font-family: 'Noto Sans', sans-serif;
    font-size: 100px;
}

.input-box {
    display: flex;
    background-color: transparent;
    border-bottom: 1px solid #395272;
    width: 50%;
    font-family: 'Noto Sans', sans-serif;
    font-size: 0.8em;
    padding: .5%;
    margin-bottom: 5px;
}

.label-heads,
.radio-lable-heads {
    font-family: 'Noto Sans', sans-serif;
    padding: 5px 0;
    font-size: inherit;
    clear: both;
}

.radio-box {
    display: flex;
    gap: 3%;
}

.radio-span {
    display: flex;
}

.radio-button {
    font-size: 0.8em;
    padding-left: 1rem;
}

#message-textarea-container {
    display: block;
}

#message-textarea-label-head {
    font-family: 'Noto Sans', sans-serif;
    display: block;
    font-size: inherit;
    clear: both;
    margin-bottom: 1%;
}

#message {
    font-family: inherit;
    width: 50%;
    background-color: transparent;
    border-bottom: 1px solid #395272;
    clear: both;
}

.send-message {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #395272;
    color: #d9c27e;
    display: block;
}

.send-message:hover {
    background-color: transparent;
    border: 1px solid #395272;
    color: #395272;
}

/* Contact section for small screens */
@media screen and (max-width: 786px) {

    #contact-details,
    #contact-form-container {
        float: none;
    }

    #contact-section {
        height: 950px;
    }

    #contact-bg-image {
        width: 100%;
        height: 100%;
    }

    #contact-container {
        width: 85%;
    }

    #contact-details,
    #contact-form-container {
        width: 80%;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }

    #my-phone-details>p {
        text-align: center;
    }

    #my-email>p {
        text-align: center;
    }

    #contact-form-container {
        border: none
    }

    .label-heads,
    .radio-lable-heads {
        text-align: center;
    }

    .radio-box {
        align-items: center;
        margin-bottom: 1%;
        justify-content: center;
    }

    .input-box {
        width: 90%;
    }

    .radio-button {
        padding-left: .9rem;
    }

    #message {
        width: 90%;
        float: left;
        margin-bottom: 2%;
    }
}