@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500&family=Playfair+Display:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: noto-sans, sans-serif;
    font-weight: 300;
    color: #395273;
}

/* Remove bullets from all list items in the site */

ul {
    list-style: none;
    padding: 0;
}

/* Font family for heading */
h1,
h2,
h3 {
    font-family: 'Playfair Display', serif;
}

/* Styling header, logo and nav */
header {
    display: flex;
    width: 100vw;
    background-color: #bf9b6f;
    margin: 0 auto 0 auto;
    max-height: 170px;

}

/* Rounding logo & give padding*/

#logo {
    max-width: 150px;
    max-height: 150px;
    border-radius: 50% 50% 50% 50%;
    padding: 5%;
}

nav {
    text-align: right;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
}

nav li {
    display: block;
    /* display linksas a colomn on small screen*/
    height: 100%;
    margin: 0 20px;
    line-height: 40px;
    font-size: 20px;
    cursor: pointer;
    transition: color .5s;
}

nav a {
    text-decoration: none;
    color: inherit;
    font-weight: 700;
}

nav a:hover {
    border-bottom: 1px solid #395273;
    color: #e76e20;
}

.active {
    border-bottom: 1px solid #395273;

}

/* Hero image */

#hero-image {
    height: 800px;
    width: 100%;
    background: url('../image/hero-image.webp') no-repeat center center;
    background-attachment: fixed;
}

#cover-text {
    color: #d9c27e;
    letter-spacing: 1px;
    text-align: justify;
    width: 40%;
    height: auto;
    padding: 3%;
    background-color: rgba(57, 82, 115, .8);
    top: 50%;
    right: 40%;
    position: absolute;
}


#cover-text p {
    line-height: 1.5em;
    font-size: 0.8em;
    font-weight: 500;
}

@media only screen and (min-width: 600px) {
    nav li {
        display: inline-block;
    }

    #cover-text h1 {
        line-height: 3em;
    }
}

#Services-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

#Services-container div {
    padding: 25px;
}

#box-wm {
    flex-basis: 15%;
}

#box-snc {
    flex-basis: 15%;
}

#box-ipr {
    flex-basis: 15%;
}

#box-cf {
    flex-basis: 15%;
}

#services-heading {
    text-align: center;
    vertical-align: middle;
    padding: 5rem 0 3rem;


}

#Services-container h3 {
    text-align: center;
    vertical-align: middle;
    font-size: 90%;
    padding-bottom: 1rem;

}

#Services-container img {}

#Services-container p {
    font-size: 80%;
    font-weight: 650;
    text-align: justify;
    margin-top: 3rem;
}

#about-section {
    width: 100%;
    min-height: 100vh;
    background-color: rgba(57, 82, 115, .8);
}

#about-container {
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
}

#abt-content-container {
    float: left;
    width: 55%;
}

#about-image {
    float: right;
    width: 30%;
}

#about-image img {
    width: 100%;
    height: auto;
}

#abt-content-container #abt-title h2 {
    color: #bf9b6f;
    line-height: 1.5em;
    padding-bottom: 1rem;
}

#abt-content-container #abt-content p {
    margin-top: 20px;
    color: #bf9b6f;
    text-align: justify;
    line-height: 1.5em;
    font-size: 0.8em;
    font-weight: 650;
}

@media screen and (max-width: 786px) {
    #about-container {
        width: 80%;
        display: block;
        margin: auto;
        padding-top: 50px;
    }

    #abt-content-container {
        float: none;
        width: 100%;
        display: block;
        margin: auto;
    }

    #about-image {
        float: none;
        width: 80%;
        display: block;
        margin: 5% auto auto auto;
    }

    #abt-title h2 {
        text-align: center;
    }
}

#class-time-section {
    width: 100%;
    min-height: 100vh;

}

#class-time-container {
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;

}

#class-image {
    float: left;
    width: 30%;
}

#class-image img {
    width: 100%;
    height: auto;
}

#class-time-contnet {
    float: right;
    width: 55%;
}

#class-time-contnet #class-time-title h2 {
    line-height: 1.5em;
    padding-bottom: 1rem;

}

#class-time-contnet #class-time-timings h3 {
    margin-top: 20px;
    text-align: left;
    line-height: 1rem;
    font-size: 1em;
    font-weight: 500;
}

#class-time-contnet #class-time-timings h3 span {
    font-size: 1.2em;
    font-weight: 650;
    padding-right: 5px;
}


@media screen and (max-width: 786px) {
    #class-time-container {

        width: 80%;
        display: block;
        margin: auto;
        padding-top: 50px;
    }


    #class-image {
        float: none;
        width: 80%;
        display: block;
        margin: 5% auto auto auto;
    }

    #class-time-contnet {
        float: none;
        width: 100%;
        display: block;
        margin: 5% auto auto auto;
    }

    #class-time-title h2 {
        text-align: center;
    }

    #class-time-timings h3 {
        text-align: center;
    }

}